*.icloud
datasets/*
model*
results/*
results_temp/*
data_model_output_temp/*
data_model_output/*
Transformers/results/*
files/*
*._*
.DS_Store
*/.DS_Store
utilities/files/indexes_to_remove/
Transformers
*.jpg
*/*.jpg
*/**/*.jpg
*.png
*__pycache__*
*.pyc
*/__pycache__/*.pyc
wandb/*
Meso_TMA
utilities/visualizations/.ipynb_checkpoints
MesoGraph/
SpindleMesoNet/
mil/datasets/*

MesoGraph/
SpindleMesoNet/
cluster_0/
cluster_14/
cluster_29/
cluster_3/
cluster_31/
data/
deleted/
figures/

pkl_Meso.pkl
projection.sh
rapid.yml
report_representationsleiden_samples_adata.py
rsc_rapids_24.04.yml
scanpy.yml
slideflow.log
test.ipynb
test.txt
utilities/tile_cleaning/additional_dataset_review.ipynb