*.icloud
datasets/*
model*
results/*
results_temp/*
data_model_output_temp/*
data_model_output/*
Transformers/results/*
files/*
*._*
.DS_Store
*/.DS_Store
utilities/files/indexes_to_remove/
Transformers
*.jpg
*.png
*__pycache__*
*.pyc
