*.icloud
datasets/*
model*
results/*
results_temp/*
data_model_output_temp/*
data_model_output/*
Transformers/results/*
files/*
*._*
.DS_Store
*/.DS_Store
utilities/files/indexes_to_remove/
Transformers
*.jpg
*/*.jpg
*/**/*.jpg
*.png
*__pycache__*
*.pyc
*/__pycache__/*.pyc
wandb/*
Meso_TMA
utilities/visualizations/.ipynb_checkpoints
MesoGraph/
SpindleMesoNet/


MesoGraph/
SpindleMesoNet/
cluster_0/
cluster_14/
cluster_29/
cluster_3/
cluster_31/
cluster_images.sh
combine_h5.sh
data/
deleted/
down_data_prep.sh
figures/
filtering.sh
leiden_clustering.sh
leiden_clustering_assig.sh
leiden_clustering_assignation_old.sh
metadata.sh
mil/
pkl_Meso.pkl
projection.sh
rapid.yml
report_representationsleiden_samples_adata.py
rsc_rapids_24.04.yml
scanpy.yml
slideflow.log
test.ipynb
test.txt
test_code.sh
test_leiden.py
test_sample.py
train.sh
utilities/tile_cleaning/additional_dataset_review.ipynb
workflow/attention.py
workflow/down_data_prep_additional.py
workflow/hpc_figures.ipynb
workflow/subtype_classification_ml.py
workflow/subtype_data_preparation.py
workflow/subtype_figures.ipynb
workflow/survival_data_preparation.py
workflow/survival_figures.ipynb
workflow/test.py
